<label>Server Name</label>

<!-- One way data binding -->
<!--<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>-->

<!--for this event ($event) is simply the data that is being emitted with the event (onCreateServer)-->

<!-- Two way binding-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!--<p>{{ serverName }}</p>-->

<!--- Setting the method in a click event-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>

<!-- Method for creating output value of property-->

<!--Property binding-->
<p [innerText]="allowNewServer" ></p>

<!--String interpolation-->
<p>{{ allowNewServer }}</p>

<!--Output value of property-->
<p>{{ serverCreationStatus}}</p>

<app-server></app-server>
<app-server></app-server>
